createdAt: "2019-06-16T21:47:35.115Z"
updatedAt: "2019-06-17T01:15:25.106Z"
type: "MARKDOWN_NOTE"
folder: "d376be14dfc7e93f0039"
title: "2: Information Gathering"
tags: [
  "ptp"
]
content: '''
  # 2: Information Gathering
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
