createdAt: "2019-06-16T21:47:35.115Z"
updatedAt: "2019-06-16T21:48:53.871Z"
type: "MARKDOWN_NOTE"
folder: "d376be14dfc7e93f0039"
title: "Information Gathering"
tags: [
  "ptp"
]
content: '''
  # Information Gathering
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
